[build]
builder = "NIXPACKS"
buildCommand = "npm install && npm run generate && npm run build"

[deploy]
startCommand = "node dist/src/main.js"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

